<!DOCTYPE html>
<html ng-app="BookListApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="common/common.module.js"></script>
    <script src="common/loading/loading.component.js"></script>
    <script src="common/loading/loading.interceptor.js"></script>
	 <!--script src="jquery-3.2.0.slim.min.js"></script>
	 <script src="jquery.tablesorter.min.js"></script-->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
	 <!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" -->
	 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/common.css">
	 <!--script type="text/javascript">
	 $(document).ready(function() {
		$(function(){
			$("#readBooksTableNone").tablesorter();
		});
	 } );
	</script-->
    <title>Book List</title>
  </head>
  <body>

    <!-- Fixed position loading indicator -->
    <loading class="loading-indicator"></loading>

  <div class="container" ng-controller="BookListController as bookList">
	<div class="jumbotron">
		<h2>Book List</h2>
		<p>Below are the lists of books that I would like to read, and also those that I have read.</p>
	</div>
    <div class="form-group">
        <input type="text" placeholder="book title"
        class="form-control" ng-model="bookList.newBookTitle">
    </div>

    <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="bookList.saveNewBookTitle();">
          Save</button>
    </div>
    <br><br><p>

	<div class="col-md-6">
		<table class="table table-striped">
			<thead><tr><th>Title</th><th colspan="2" style="text-align:center">Actions</th></tr></thead>
			<tbody>
				<tr ng-repeat="book in bookList.books">
					<td>{{book.title}}</td>
					<td><button class="btn btn-xs btn-link" ng-click="bookList.readBook(book.id);">Read</button></td>
					<td><button class="btn btn-xs btn-link" ng-click="bookList.deleteBook(book.id);">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
  </div>
  
  <div class="container" ng-controller="ReadBooksController as readBooks">
    <h3>BooksABCD Read</h3>

	<div class="col-md-6">
		<table class="table table-striped" id="readBooksTable">
			<thead><tr>
				<th><a href="#" ng-click="readBooks.sortType='date';readBooks.sortReverse = !readBooks.sortReverse">Date
					<span ng-show="readBooks.sortType == 'date' && !readBooks.sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="readBooks.sortType == 'date' && readBooks.sortReverse" class="fa fa-caret-up"></span>
					</a></th>
				<th><a href="#" ng-click="readBooks.sortType='title';readBooks.sortReverse = !readBooks.sortReverse">Title</a></th>
				<th>Actions</th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="book in readBooks.books  | orderBy:readBooks.sortType:readBooks.sortReverse">
					<td>{{book.date | date:'MM/dd/yyyy'}}</td>
					<td>{{book.title}}</td>
					<td><button class="btn btn-xs btn-link" ng-click="readBooks.deleteBook(book.id);">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	 
  </div>
  
  </body>
</html>
