<!DOCTYPE html>
<html ng-app="BookListApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="common/common.module.js"></script>
    <script src="common/loading/loading.component.js"></script>
    <script src="common/loading/loading.interceptor.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/common.css">
    <title>Book List</title>
  </head>
  <body>

    <!-- Fixed position loading indicator -->
    <loading class="loading-indicator"></loading>

    <div class="container" ng-controller="BookListController as bookList">
    <h1>Book List</h1>
    <div class="form-group">
        <input type="text" placeholder="book title"
        class="form-control" ng-model="bookList.newBookTitle">
    </div>

    <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="bookList.saveNewBookTitle();">
          Save</button>
    </div>
    <br><br>

    <div class="form-group">
      <h3 ng-repeat="book in bookList.books">
        <button class="btn btn-primary" ng-click="bookList.readBook(book.id);">Read</button>
        <button class="btn btn-primary" ng-click="bookList.deleteBook(book.id);">Delete</button> 
		{{book.title}}</h3>
    </div>
  </div>
  
  <div class="container" ng-controller="ReadBooksController as readBooks">
    <h1>Books Read</h1>
    <br><br>
    <div class="form-group">
      <h3 ng-repeat="book in readBooks.books">book title: {{book.title}}</h3>
    </div>
  </div>
  
  </body>
</html>
